# Enviroment file #
.env
# Django #
*.log
*.pot
*.pyc
__pycache__
/static/
main/migrations/
# Backup files # 
postgres/pgdata


# Other
parsing/sess_id.txt
dump.sql
nginx/certbot/
init_data/

# logs
logs/